@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Oswald", sans-serif;
  font-size: 1.4em;
  font-style: normal;
  font-weight: 200;
  line-height: 1.4;
  letter-spacing: 0.05em;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.137), rgba(0, 0, 0, 0.212)),
    url("../img/sushibg2.avif") center no-repeat;
  height: 50vh;
  background-size: cover;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  position: relative;
}

h1 {
  letter-spacing: 5px;
  font-weight: 600;
  font-size: 3rem;
}

.text-pink {
  color: rgb(255, 0, 106);
}

.textcarte {
  letter-spacing: 0.3em;
}

.bordermenu {
  background-color: #6868689d;
  border-radius: 5px;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: rgb(255, 0, 106) !important;
}

.hover:hover {
  color: rgb(255, 0, 106);
}

.article {
  position: relative;
}

.divloupe {
  position: absolute;
  top: 0%;
  left: 0%;
  border: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  font-size: 2rem;
}

.divloupe:hover {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
}

.loupe {
  position: absolute;
  top: 10%;
  left: 80%;
  color: rgb(255, 0, 106);
}

.imga {
  height: 156.229px;
  width: 267.833px; 
}

.imgzoom {
  height: 250px;
  width: 400px; 
}

.modal-body {
  word-wrap: break-word;
}

.navbar-toggler {
  border: none;
}

.num {
  padding-top: 0.5rem;

}

.title {
  text-decoration: none;
}

footer {
  background-color: #6868689d;
  color: white;
}

@media screen and (max-width: 576px) {
.num {
  display: none;
}


  header {
    height: 20vh;
  }

  .h1 {
    width: 100%;
    background: linear-gradient( rgb(0 0 0 / 31%), rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.062) );
  }
  h1 {
    width: 100%;
    font-size: 1.5rem;
    width: 100%;
  }

  .divloupe {
    position: absolute;
    top: 0%;
    left: 0%;
    border: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    font-size: 2rem;
  }
  
  .loupe {
    position: absolute;
    top: 10%;
    left: 80%;
    color: rgb(255, 0, 106);
  }
}
