@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Oswald", sans-serif;
  font-size: 1.4em;
  font-style: normal;
  font-weight: 200;
  line-height: 1.4;
  letter-spacing: 0.05em;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.137), rgba(0, 0, 0, 0.212)),
    url("../img/sushibg2.avif") center no-repeat;
  height: 50vh;
  background-size: cover;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  position: relative;
}

h1 {
  letter-spacing: 5px;
  font-weight: 600;
  font-size: 3rem;
}

.text-pink {
  color: rgb(255, 0, 106);
}

.textcarte {
  letter-spacing: 0.3em;
}

.bordermenu {
    background-color: #BDBDBD;
    border-radius: 5px;
}

@media screen and (max-width: 650px) {
  header {
    height: 20vh;
  }

  .h1 {
    width: 100%;
  }
  h1 {
    width: 100%;
    font-size: 1.5rem;
    background: linear-gradient(
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0.253),
      rgba(0, 0, 0, 0.062)
    );
    width: 100%;
  }
}
